* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  margin-right: 12px;
  padding: 8px 16px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background-color: midnightblue;
  color: white;
}

button:hover {
  background-color: darkblue;
}

button:disabled {
  filter: opacity(50%)
}

input {
  width: 80%;
  height: 40px;
  margin-right: 24px;
  margin-bottom: 12px;
}

section {
  min-height: 100px;
}

footer {
  font-size: 0.875rem;
  color: darkslategray;
}